
body,
html {
  background: #001600!important;
			/*
  background: #413e3e !important;
  background: #7abecc !important;
  */
		}

.main_css {
  /*
  background: #63aebe !important;
   */
    background: #4a793e!important;
}

.custom_button{
  background: #1d3236 !important;
}

.mynav {
  background: #1d3236 !important;
  
}
.custom-text{
  color:#75d261!important;
}
.custom-text-light{
  color:#bae6a8!important;
}


.custom-text-dark{
   color:#1f4516!important;
}


.myh1{
  
}

.text_color_h1 {
  color:  #1d8936 !important;
}








.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}